/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --preto: #000;
    --branco: #fff;
    --cinza_claro: #a7a7a7;
    --amarelo: #fcad02;
    --amarelo_claro: #fac229;
}

body {
    background-color: var(--preto);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--amarelo);
    color: var(--branco);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover {
    background-color: var(--amarelo_claro);
    transform: scale(1.05);
}

/* CABEÇALHO */

header .logo a img {
    width: 250px;
    width: 250px;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cinza_claro);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: var(--branco);
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* PÁGINA DE INÍCIO */

section .inicio {
    padding: 40px 4%;
}

section .inicio .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio h1 {
    color: var(--branco);
    font-size: 42px;
}

.inicio h1 span {
    color: var(--amarelo_claro);
}

.inicio .txt-inicio p {
    color: var(--branco);
    margin: 40px 0;
}

.inicio .img-inicio img{
    position: relative;
    width: 500px;
    height: 500px;
}