/* ESTILIZAÇÃO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --preto: #000;
    --branco: #fff;
    --cinza_claro: #a7a7a7;
    --amarelo: #fcad02;
    --cinza: #393939;
    --bg-color: #cacaca;
    --azul-marinho: #000d59;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--amarelo);
    color: var(--preto);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

h2.titulo {
    color: var(--preto);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--azul-marinho);
}

/* CABEÇALHO */

header.logo a img {
    width: 250px;
    width: 250px;
}

header {
    padding: 40px 4%;
    background-color: var(--azul-marinho);
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cinza_claro);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: var(--branco);
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* PÁGINA DE INÍCIO */

section.inicio {
    padding: 40px 4%;
}

section.inicio .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio h1 {
    color: var(--preto);
    font-size: 42px;
}

.inicio h1 span {
    color: var(--azul-marinho);
}

.inicio .txt-inicio p {
    color: var(--preto);
    margin: 40px 0;
}

.inicio .img-inicio img{
    position: relative;
    width: 500px;
    height: 500px;
}

/* MINHAS ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;

}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: var(--preto);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--cinza_claro);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--azul-marinho);
}

.especialidades .especialidades-box h3 {
    font-size: 26px;
    margin: 15px 0;
}

.especialidades .especialidades-box p {
    font: 18px;
}

/* SOBRE MIM */

section.sobre-mim {
    padding: 80px 4%;
}

section.sobre-mim .flex {
    align-items: center;
    gap: 60px;
}

.img-sobre-mim img{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.sobre-mim .txt-sobre-mim {
    color: var(--preto);
}

.sobre-mim .txt-sobre-mim h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-mim .txt-sobre-mim h2 span {
    color: var(--azul-marinho);
    display: block;
}

.sobre-mim .txt-sobre-mim p {
    margin: 20px 0;
    text-align: justify;
}

.btn-redes button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--azul-marinho);
    color: var(--branco);
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* PORTOFOLIO */

section.portfolio {
    padding: 80px 4%;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-portfolio {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-portfolio:hover {
    background-position: 100% 100%;
}

.overlay a{
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008d;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--branco);
    opacity: 0;
}

.overlay a:hover {
    opacity: 1;
    transition: .5s;
}

/* FORMULÁRIO */

section.forms {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: var(--cinza);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 10px;
    color: var(--branco);
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-form {
    margin-top: 20px;
    text-align: center;
}

form .btn-form input {
    background-color: var(--azul-marinho);
    color: var(--branco);
    font-weight: 600;
    width: 120px;
    cursor: pointer;
}

form .btn-form input:hover {
    transform: scale(1.05);
}

/* FOOTER */

footer {
    padding: 80px 4%;
    background-color: var(--azul-marinho);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}



footer .line-footer p i{
    color: var(--azul-marinho);
    font-size: 22px;
}

footer .line-footer p a {
    color: var(--preto);
    text-decoration: none;
}

.btn-redes-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--amarelo);
    color: var(--preto);
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1020px) {

    /* ESTLIZAÇÃO GERAL */
    .flex {
        flex-direction: column;
    }

    h2 .titulo {
        font-size: 32px;
        text-align: center;
        line-height: 30px;
    }

    /* HEADER */
    .menu, .btn-contato {
        display: none;
    }

    /* INÍCIO */
    section.inicio .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    section.inicio {
        padding: 20px 8%;
    }

    .inicio h1 {
        font-size: 30px;
        text-align: center;
    }

    .inicio p {
        text-align: center;
    }

    .inicio .img-inicio img {
        width: 100%;
    }

    /* MINHAS ESPECIALIDADES */

    section.especialidades {
        padding: 20px 8%;
    }

    /* SOBRE MIM */

    section.sobre-mim {
        padding: 20px 8%;
        flex-direction: column-reverse;
    }

    .sobre-mim .txt-sobre-mim h2 {
        font: 32px;
        line-height: 35px;
        text-align: center;
    }

    .btn-redes {
        text-align: center;
    }

    .img-sobre-mim img {
        width: 100%;
    }

    /* PORTFOLIO */

    section.portfolio {
        padding: 20px 8%;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    .img-portfolio {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    /* FOOTER */
    footer .flex {
        flex-direction: column-reverse;
        gap: 20px;
    }

    footer .line-footer {
        text-align: center;
    }
}