/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --preto: #000;
    --branco: #fff;
    --cinza_claro: #a7a7a7;
    --azul: #0800ff;
    --azul_claro: #3a96ff;
}

body {
    background-color: var(--preto);
    height: 100vh;
}

/* CABEÇALHO */

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header .logo a img {
    width: 250px;
    width: 250px;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cinza_claro);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: var(--branco);
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--azul);
    color: var(--branco);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    background-color: var(--azul_claro);
    transform: scale(1.05);
}