/* ESTILIZAÇÃO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* COR DO BACKGROUND */
    --bg-color: #fff9ea;

    /* CORES PRINCIPAIS */
    --amarelo: #e9a209;
    --amarelo-secundario: #ffe100;

    /* COR DO BOTÃO DEAFAULT */
    --amarelo-botao: #ffcb45;
    --amarelo-botao-hover: #f8d477;

    /* CORES NEUTRAS */
    --branco: #fff;
    --preto: #000;
    --cinza_escuro: #1d1d1d;
}

body {
    background-color: var(--bg-color);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo-botao);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-default:hover {
    background-color: var(--amarelo-botao-hover);
    transition: .5s;
}

.redes-sociais {
    display: flex;
    gap: 18px;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    font-size: 2rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cinza_escuro);
    background-color: var(--bg-color);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.section-titulo {
    color: var(--amarelo);
    font-size: 1.563rem;
}

.section-subtitulo {
    font-size: 2.1875rem;
}

/* CABEÇALHO */

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 3;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 24px;
    color: var(--amarelo);
}

.lista {
    display: flex;
    list-style: none;
    gap: 48px;
}

.item a {
    text-decoration: none;
    color: var(--cinza_escuro);
    font-weight: 600;
}

.item.active a {
    color: var(--cinza_escuro);
    border-bottom: 3px solid var(--amarelo-secundario);
}

.btn-mobile, .menu-mobile {
    display: none;
}

/* INICIO */

.inicio {
    display: flex;
    min-height: calc(100vh - 92px);
    position: relative;
}

.cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.cta .titulo {
    font-size: 4rem;
    color: var(--cinza_escuro);
}

.cta .titulo span {
    color: var(--amarelo);
}

.cta .descricao {
    font-size: 1.2rem;
}

.cta-btn {
    display: flex;
    gap: 24px;
}

.cta-btn a {
    text-decoration: none;
    color: var(--cinza_escuro);
}

.tel-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--branco);
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 12px;
}

.banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

.banner img {
    width: fit-content;
}

.forma {
    background-color: var(--amarelo-botao-hover);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

/* CARDÁPIO */

.cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pratos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.prato {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--branco);
    position: relative;
    overflow: hidden;
}

.prato-fav {
    position: absolute;
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--branco);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.prato-subtitulo {
    color: var(--cinza_escuro);
    text-align: center;
}

.prato-avaliacao i {
    color: var(--amarelo-botao);
}

.prato-preco {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* AVALIAÇÕES */

.avaliacao {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.chef {
    width: 500px;
    height: auto;
}

.avaliacao .section-subtitulo {
    font-size: 3rem;
}

.avaliacao-conteudo {
    width: 50%;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--branco);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.feedback-conteudo p {
    display: flex;
    justify-content: space-between;
}

.feedback-conteudo p span {
    color: var(--amarelo);
}

/* FOOTER */

footer {
    background-color: var(--amarelo-botao-hover);
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

.copy {
    color: var(--cinza_escuro);
    font-weight: 500;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1170px) {

    .lista, .btn-default {
        display: none;
    }

    .btn-mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--amarelo);
    }

    .menu-mobile.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-lista {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    .mobile-item a {
        text-decoration: none;
        color: var(--cinza_escuro);
        font-weight: 600;
    }

    .mobile-lista .mobile-item {
        text-align: center;
        list-style: none;
    }

    /* INICIO */

    .inicio {
        min-height: 100%;
        padding-top: 0px;
    }

    .banner, .banner img, .inicio .forma {
        display: none;
    }

    .cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    /* CARDÁPIO */

    .pratos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .prato {
        width: calc(50% - 12px);
    }

    /* AVALIAÇÕES */

    .avaliacao {
        flex-direction: column;
    }

    .avaliacao .section-subtitulo {
        text-align: center;
        font-size: 2.5rem;
    }

    .chef {
        display: none;
    } 
    
    .avaliacao-conteudo {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    
    /* CARDÁPIO */
    .prato {
        width:100%;
    }

    .cardapio .section-subtitulo {
        text-align: center;
    }


    /* AVALIAÇÕES */

    .avaliacao-conteudo {
        width: 100%;
    }

    .avaliacao .section-subtitulo {
        text-align: center;
        font-size: 2rem;
    }

   .feedback {
    flex-direction: column;
   }

   /* FOOTER */

   .rodape {
    flex-direction: column;
    gap: 20px;
   }
}